version: '3'
services:
  app:
    image: liberty254/todo:${IMG_TAG:?err}
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_URI: mongodb://mongo:27017
      DB_NAME: todos
    ports:
      - "80:8000"
  mongo:
    image: mongo:4.0.14-xenialb
    
